<%= form_with(model: [@venda, produto_venda], local: true) do |form| %>
  <% if produto_venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto_venda.errors.count, "error") %> prohibited this produto_venda from being saved:</h2>

      <ul>
        <% produto_venda.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :produto_id %>
    <%= form.select :produto_id, @produtos, include: true %>

  </div>

  <div class="field">
    <%= form.label :qtd_produtos %>
    <%= form.text_field :qtd_produtos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
