<%= form_with(model: caixa, local: true, url: caixa_fechar_usuario_path, method: "post") do |form| %>
  <% if caixa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caixa.errors.count, "error") %> prohibited this caixa from being saved:</h2>

      <ul>
        <% caixa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
  <div class="row form-group">
    <div class="card" style="width: 16rem; margin: 5px; background-color: #ebecef;">
      <div class="card-body">
        <h5 class="card-title" style="background-color: #306de1; color: white; padding: 10px; border-radius: 5px;">Caixa de <%= Time.current %></h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">
            <div class="row">
              <div class="col-sm-12">
                <h5>Valor inicíal<h5>
                <p>
                  <%= "R$ %0.02f" % caixa.valor_inicial %>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h5>Valor total<h5>
                <p>
                  <%= "R$ %0.02f" % caixa.valor_total %>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h5>Valor arrecadado<h5>
                <p>
                  <%= "R$ %0.02f" % caixa.valor_arrecadado %>
                </p>
              </div>
            </div>
        </p>
      </div>
    </div>
  </div>

  <%= form.text_field :valor_inicial, class: "form-control", disabled: true, type: "hidden"%>
  <%= form.text_field :valor_total, class: "form-control", disabled: true, type: "hidden"%>
  <%= form.text_field :valor_arrecadado, class: "form-control", disabled: true, type: "hidden"%>
  <%= form.text_field :aberto, class: "form-control", type: "hidden", value: FALSE%>

  <div class="row form-group">
      <div class="col-sm-4">
          <%= form.submit "Fechar", class: "btn btn-success", id: "btn-fechar" %>
      </div>
  </div>
<% end %>
