<%= form_with(model: caixa, local: true, url: caixa_abrir_usuario_path) do |form| %>
  <% if caixa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caixa.errors.count, "error") %> prohibited this caixa from being saved:</h2>

      <ul>
        <% caixa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row form-group">
        <div class="col-sm-4">
            <%= form.label :valor_inicial %>
            <%= form.text_field :valor_inicial, class: "form-control"%>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-4">
            <%= form.submit "Abrir", class: "btn btn-success", id: "btn-abrir" %>
        </div>
    </div>
<% end %>