<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
        <% produto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-group">
    <div class="col-sm-4">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: "form-control" %>
    </div>

    <div class="col-sm-4">
      <%= form.label :categoria %>
      <%= select('produto', :categoria, ['Bovino', 'Suino', 'caprino', 'Aves', 'Peixe'],{include:true}, {:class => 'form-control'}) %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <%= form.label :qtd_estoque %>
      <%= form.text_field :qtd_estoque, class: "form-control" %>
    </div>

    <div class="col-sm-4">
      <%= form.label :preco %>
      <%= form.text_field :preco, :placeholder => "Por Kg.", class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= form.submit "Salvar", id: "cadastrar_reclamacao",class: 'btn btn-success', style: "margin-top: 10px; margin-bottom: 10px;"%>
    </div>
  </div>
<% end %>