<p id="notice"><%= notice %></p>
<h2><%= @produto.nome %></h2>

<%= form_with(url: recebimento_produto_path, method: :post, local: true) do |form| %>
  <div class="field">
    <%= form.label "recebimento" %>
    <%= form.text_field "recebimento", :type => "number" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
