<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-group">
     <div class="col-sm-4">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: "form-control" %>
    </div>

    <div class="col-sm-4">
      <%= form.label :login %>
      <%= form.text_field :login, class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-4">
      <%= form.label :senha %>
      <%= form.password_field :senha, class: "form-control"  %>
    </div>
  </div>

  <div class="row form-group">
    <%= form.submit 'Salvar', class: 'btn btn-success', style:"position: relative; left: 15px;"%>
  </div>
<% end %>
