<p id="notice"><%= notice %></p>

<p>
  <strong>Valor Total:</strong>
  <%= @venda.valor %>
</p>

<h2>Produtos da venda</h2>
<% for produto_venda in @venda.produto_vendas %>
  <ul>
    <li><%= produto_venda.produto.nome %></li>
    <li>Quantidade: <%= produto_venda.qtd_produtos %></li>
    <li>valor: <%= produto_venda.valor %></li>
    <td><%= link_to 'Remover Produto',[@venda, produto_venda], method: :delete, data: { confirm: 'Deseja remover este produto da venda?' } %></td>
    <td><%= link_to 'Editar Produto', edit_venda_produto_venda_path(@venda, produto_venda) %></td>
  </ul>
<% end %>

<%= link_to 'Cancelar Venda', @venda, method: :delete, data: { confirm: 'Deseja cancelar esta venda?' } %>
<%= link_to 'Adicionar Produto', new_venda_produto_venda_path(@venda) %>
<%= link_to 'Finalizar Venda', root_path, notice: 'Venda realizada com sucesso.' %>
